<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>edwin</title>
</head>

<body>
        <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="../index.html">
                    <img src="https://images.vexels.com/media/users/3/147093/isolated/preview/2d9c25ee1fbffdae2909164e858648d1-bot--n-de-inicio-de-instagram-by-vexels.png" width="30" height="30" class="d-inline-block align-top" width="30" height="30" class="d-inline-block align-top" alt="">
                    welcome to my website
                </a>
            </nav>
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="fun.html">fun fact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="bio.html">Biografy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contac.html">contact</a>
        </li>
    </ul>
    <div class="hero-image2"> 
            <div class="hero-text" >
            <h1 id="h1">Anecdote</h1>
            <h3 id="h3">
                <!-- En una mañana como cualquiera, estaba yo esperando que abrieran la puerta porque había llegado muy temprano
                    entonces llegaron corriendo unos policías, y dijeron que abriera mi mochila para verificar que no portaba arma o algo indebido,
                    entonces la revisaron y se fueron.  -->
                On a morning like any other, I was waiting for them to open the door, because I had arrived very early,
                Then some policemen came running, and told me to open my backpack to verify that I didn't carry a weapon
                or something wrong,
                Then they checked it and left.
            </h3>
        </div> 
</div>
</body>

</html>